<nav class="navbar row py-4 sticky-top">
   <div id="navbar-header" class="col-3 align-items-center text-center">
      <a href="" class="fs-2">Solturne</a>
   </div>

   <div id="navbar-menu" class="col-6 px-0 d-flex flex-row align-items-center justify-content-evenly">
      <a href="#home">{{ 'home' | translate }}</a>
      <a href="#skills">{{ 'skills' | translate }}</a>
      <a href="#about">{{ 'about' | translate }}</a>
      <a href="#services">{{ 'services' | translate }}</a>
   </div>

   <div id="navbar-language" class="col-3 d-flex flex-row align-items-center justify-content-center gap-3 language">
      <button class="btn btn-outline-primary-500" aria-label="change-language-btn"
         data-message="Button to change website language" (click)="changeLanguage()"
         tooltip="{{ 'switch-language' | translate }}" placement="left">
         <fa-icon [icon]="faGlobe" />
      </button>
   </div>
</nav>
