
// #region PALETA DE CORES ----- *\
$dark-grey: #161416;
$dark-wine-red: #23011e;
$medium-wine-red: #460f3c;
$middle-theme: #a00f69;
$main-highlight: #ff1464;
$lighter-higlight: #ff3a89;
// #endregion PALETA DE CORES ----- */


