// Map com temas dos botões
$buttons: (
   "primary-300": var(--primary-300),
   "primary-500": var(--primary-500),
   "primary-600": var(--primary-600),
   "primary-700": var(--primary-700),

   "secondary-300": var(--secondary-300),
   "secondary-500": var(--secondary-500),
   "secondary-700": var(--secondary-700)
);

// Definição de classes de botões cheios
@each $color, $value in $buttons {
   .btn-#{$color} {
      background-color: $value;
      color: var(--light-100);
      transition: all .2s ease;

      &:hover {
         background-color: brightness(10%); // Diminuo o brilho para simular um darken(), já que ele não funciona com variáveis CSS
      }
   }
}

// Definição de classes de botões vazados (outline)
@each $color, $value in $buttons {
   .btn-outline-#{$color} {
      background-color: transparent;
      color: $value;
      border-color: $value;
      transition: all .2s ease;

      &:hover {
         color: var(--light-100);
         background-color: $value;
      }
   }
}
