
.primary-btn-500 {
   background-color: var(--primary-500);
   color: var(--light-100);

   transition: all .2s ease;
}
.primary-btn-500:hover {
   background-color: var(--primary-600);
}

.outline-primary-btn-500 {
   background-color: transparent;
   color: var(--primary-500);
   border-color: var(--primary-500);
   
   transition: all .2s ease;
}
.outline-primary-btn-500:hover {
   color: var(--light-100);
   background-color: var(--primary-500);
}

