<div class="vh-100 p-4 d-flex flex-row align-items-center justify-content-center">
   <div class="col text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga molestiae odit sapiente ipsa quos pariatur at. Totam beatae id sequi quidem impedit expedita sapiente ea, corporis omnis, illum sit eaque at eos distinctio magni, temporibus fuga quae ipsam hic quia blanditiis ab? Deleniti et maiores vero quas amet doloremque voluptatum.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta labore consequatur a, nisi molestias laudantium voluptates! Est nostrum consequatur illo saepe voluptates, quo quos vel illum ut earum recusandae libero dolorum sint eum maiores adipisci quae optio, possimus, corporis magni quis impedit dolorem. Quisquam rerum fugiat, placeat minima deleniti suscipit.</p>
      <p class="primary-text-500">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus ratione quod ad ut adipisci fugit at ipsam nesciunt similique expedita!</p>
   </div>

   <div class="col text-center primary-text-500">
      <h2>PROJETOS</h2>
   </div>
</div>
