<div class="home-content vh-100 p-4 d-flex flex-row align-items-start justify-content-center gap-5">
   <div class="col h-100 d-flex align-items-center justify-content-end show-content-anim" style="--show-delay: 2;">
      <img class="rounded-circle" height="500px" width="auto" src="../../../../assets/images/perfil.webp" alt="foto">
   </div>

   <div class="col h-100 d-flex flex-column align-items-start justify-content-center show-content-anim" style="--show-delay: 0;">
      <div class="mb-3">
         <p class="fs-3 home-greet"> {{ 'home-greeting' | translate }} 👋 </p>
         <h1 class="home-title"> {{ 'home-title' | translate }} <span class="text-primary-500">{{ typedTitle$ | async }} </span></h1>
         <h4 class="home-subtitle">
            @if (translateService.currentLang) {
               @if (translateService.currentLang === 'pt-br') {
                  {{ 'home-subtitle' | translate }} <span class="text-primary-500">{{ typedSubtitle$ | async }}</span>
               }
               @else {
                  <span class="text-primary-500">{{ typedSubtitle$ | async }}</span> {{ 'home-subtitle' | translate }} 
               }
            }
            @else {
               {{ 'home-subtitle' | translate }} <span class="text-primary-500">{{ typedSubtitle$ | async }}</span>
            }
         </h4>
      </div>

      <div class="home-buttons show-content-anim" style="--show-delay: 5;">
         <div class="first-btns d-flex flex-row justify-content-between mb-3">
            <a type="button" aria-label="linkedin-btn" data-message="LinkedIn redirect button" class="btn btn-outline-primary-500" href="https://www.linkedin.com/in/erick-carvalho-40a7471ba/" target="_blank"> <fa-icon [icon]="faLinkedIn" size="2x" /> </a>
            <a type="button" aria-label="github-btn" data-message="Github redirect button" class="btn btn-outline-primary-500" href="https://github.com/s0lturn3" target="_blank"> <fa-icon [icon]="faGithub" size="2x" /> </a>
            <a type="button" aria-label="upwork-btn" data-message="Upwork redirect button" class="btn btn-outline-primary-500" href="https://www.upwork.com/freelancers/~01461935f19114c1bf" target="_blank"> <fa-icon [icon]="faUpwork" size="2x" /> </a>
         </div>
         
         <div class="second-btns">
            <a type="button" class="btn btn-primary-500 fs-5" href="mailto:erickcarvalho.contato20@gmail.com" target="_blank">
               {{ 'contact' | translate }} &nbsp; <fa-icon [icon]="faEnvelope" />
            </a>
            <!-- <a type="button" class="btn btn-outline-primary-500 d-flex align-items-center fs-5"
               [download]="download.filename" [href]="download.url_ptBR" target="_blank" rel="noopener noreferrer">
               CV &nbsp; <fa-icon [icon]="faArrowDown" />
            </a> -->
         </div>
      </div>
   </div>
</div>
