<div class="home-content vh-100 p-4 px-3 d-flex flex-row align-items-start justify-content-center gap-5">
   <div class="col h-100 d-flex align-items-center justify-content-end show-content-anim" style="--show-delay: 2;">
      <img id="img-inicio-perfil" class="img-inicio-perfil rounded-circle" src="../../../../assets/images/perfil4.jpg" alt="foto" [tooltip]="'img-tooltip' | translate">
      
      <div class="img-inicio-perfil" [tooltip]="'3d-model-tooltip' | translate">
         <iframe id="img-inicio-perfil" src="https://my.spline.design/solturnenobackground-f742c6c25d25c8802fbb3b5627d47b5a/" frameborder="0" width="100%" height="100%"></iframe>
      </div>
   </div>

   <div class="col h-100 d-flex flex-column align-items-start justify-content-center show-content-anim" style="--show-delay: 0;">
      <div class="mb-4">
         <p class="fs-4 home-greet"> {{ 'home-greeting' | translate }} 👋 </p>
         <h1 class="home-title"> {{ 'home-title' | translate }} <span class="text-primary-500">{{ typedName$ | async }} </span></h1>

         <h4 class="home-subtitle fs-4">
            @if (translateService.currentLang) {
               @if (translateService.currentLang === 'pt-br') {
                  {{ 'home-subtitle' | translate }} <span class="text-primary-500">{{ typedSpecialty$ | async }}</span>
               }
               @else {
                  <span class="text-primary-500">{{ typedSpecialty$ | async }}</span> {{ 'home-subtitle' | translate }}
               }
            }
            @else {
               <span class="text-primary-500">{{ typedSpecialty$ | async }}</span> {{ 'home-subtitle' | translate }} 
            }
         </h4>
      </div>

      <div class="home-buttons d-flex gap-3 show-content-anim" style="--show-delay: 5;">
         <a type="button" class="btn btn-outline-primary-500 fs-4" routerLink="/contact" routerLinkActive="router-link-active" > {{ 'contact-home-btn' | translate }} &nbsp; <fa-icon [icon]="faArrowRight" /> </a>
      </div>
   </div>
</div>