/* You can add global styles to this file, and also import other style files */

// #region IMPORTS ----- *\
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "./app/core/styles/global.scss";
// #endregion IMPORTS -----*/


// #region PALETA DE CORES ----- *\
:root {
   // Botões principais e links
   --primary-300: #ff3a89;  // Tom mais claro, ideal para hover suave ou efeitos em temas escuros
   --primary-500: #FF1463;  // Cor principal, usada para botões e links principais
   --primary-600: #cb0446;
   --primary-700: #6F092B;  // Cor escura para estados ativos ou hover em botões principais

   // Ações secundárias
   --secondary-300: #AE3DF2;  // Cor para botões e ações secundárias, criando contraste com a cor primária
   --secondary-500: #620DC4;  // Cor para botões e ações secundárias, criando contraste com a cor primária
   --secondary-700: #2D0660;  // Versão escura para hover ou estado ativo de botões secundários

   // Mensagens de feedback
   --warning-500: #FFD520;  // Cor para alertas e mensagens de aviso
   --error-500: #FF1E2D;    // Cor para mensagens de erro e alertas críticos
   --info-500: #6D26FF;     // Cor para mensagens informativas
   --success-500: #05BA3F;  // Cor para mensagens de sucesso e confirmações positivas

   // Fundos
   --dark-900: #161416;     // Cor de fundo para temas escuros
   --dark-300: #201d20;
   --light-100: #FCFAF9;    // Cor de fundo para temas claros, facilita a leitura e o contraste
}
// #endregion PALETA DE CORES ----- */


// #region DEFINIÇÕES GLOBAIS ----- *\
* {
   // background-color: var(--dark-900);
   color: var(--light-100);
}

app-root, .app-wrapper {
   max-width: 100vw;
   overflow-x: hidden;
}

html, body {
   background-color: var(--dark-900) !important;
   background-image: radial-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 0) !important;
   background-size: 30px 30px !important;
   background-position: -5px -5px !important;

   font-family: "Comfortaa", serif !important;

   max-width: 100vw;
   overflow-x: hidden;
}

ul { list-style-type: none; }

a {
   text-decoration: none !important;
   color: currentColor !important;

   transition: all .2s ease;
}
a:hover {
   font-weight: bold;
}
// #endregion DEFINIÇÕES GLOBAIS ----- */


// #region MODAIS
.modal-content {
   background-color: var(--dark-900) !important;
   color: var(--light-100) !important;
   
   .btn-close {
      filter: var(--bs-btn-close-white-filter);
   }
}
// #endregion MODAIS



@import "../node_modules/bootstrap/scss/bootstrap.scss";
// * Import do Bootstrap DEVE estar depois dos overrides, pois nos arquivos internos da biblioteca eles possuem a flag de "!default" junto com os valores.
// * A ideia é que caso um novo valor seja declarado, o que é !default vai ser sobreescrito com esse novo valor,
// * o !default serve só pra definir um valor caso nenhum outro seja declarado explicitamente. Por isso o import do Bootstrap nesse caso deve estar depois dos overrides.
