<div class="vh-100 p-4 d-flex flex-row align-items-center justify-content-center">
   <div class="col text-center text-secondary-300">
      <h2>SOBRE MIM</h2>
   </div>
   
   <div class="col text-center">
      <p>Desenvolvedor Full Stack com foco em Angular e C#.NET, apaixonado por criar soluções eficientes e escaláveis.</p>
      <p>Iniciei na área de tecnologia com o desenvolvimento de jogos em Unity, na época fiz alguns pequenos joguinhos como aprendizado e acabei me apaixonando pela linguagem C#. Pouco tempo depois, quando eu iniciei um curso técnico de desenvolvimento para web eu comecei a estagiar em uma empresa onde, logo nos primeiros 6 meses fui efetivado juntamente com o restante da minha equipe. Estou na mesma empresa até hoje!</p>
      <p>Possuo sólidas experiências em desenvolvimento de aplicações web com ênfase em microsserviços e interfaces interativas. Posso também citar o uso de testes, desenvolvimento e manutenção de bibliotecas npm e banco de dados.</p>
      <p class="text-secondary-300">Nas horas vagas, gosto de aprender sobre diversos assuntos, mas principalmente novas tecnologias relacionadas a IA e sou um grande fã de Sandman (Neil Gaiman)</p>
   </div>
</div>
