<div class="about-content mb-5 d-flex flex-row align-items-center justify-content-start show-content-anim" style="--show-delay: 1;">
   <div class="col text-center">
      <img id="about-me-img" class="about-me-img-mobile rounded-circle" src="../../../../assets/images/perfil2.webp" alt="foto"
         [tooltip]="'img-tooltip-2' | translate">

      <img id="about-me-img" class="about-me-img rounded-circle" src="../../../../assets/images/perfil4.webp" alt="foto"
         [tooltip]="'img-tooltip' | translate">
   </div>
   
   <div class="col text-start">
      <div class="titles">
         <h4 class="text-primary-300">{{ 'about-title' | translate }}</h4>
         <h2 class="fw-bold mb-5">{{ 'about-subtitle' | translate }}</h2>
      </div>

      <div class="descriptions pe-5 mb-3">
         <p [innerHTML]="'about-1-p' | translate"></p>
         <p [innerHTML]="'about-2-p' | translate"></p>
         <!-- <p>{{ 'about-3-p' | translate }}</p> -->
      </div>

      <a type="button" class="cv-btn btn btn-outline-primary-500 fs-5" aria-label="cv-download"
         [download]="download.filename" [href]="translateService.currentLang === 'pt-br' ? download.url_ptBR : download.url_ENG" target="_blank" rel="noopener noreferrer">
         {{ 'curriculum-btn' | translate }} &nbsp; <fa-icon [icon]="faArrowDown" />
      </a>
   </div>
</div>
