<div class="vh-100 p-4 d-flex flex-row align-items-center justify-content-start show-content-anim" style="--show-delay: 1;">
   <div class="col text-center">
      <img src="../../../../assets/images/perfil-about.gif" height="500px" alt="gif-perfil">
   </div>
   
   <div class="col text-start">
      <div class="titles">
         <h4 class="text-primary-300">{{ 'about-title' | translate }}</h4>
         <h2 class="fw-bold mb-5">{{ 'about-subtitle' | translate }}</h2>
      </div>

      <div class="mb-3">
         <p>{{ 'about-1-p' | translate }}</p>
         <p>{{ 'about-2-p' | translate }}</p>
      </div>

      <a type="button" class="cv-btn btn btn-outline-primary-500 fs-5"
         [download]="download.filename" [href]="download.url_ptBR" target="_blank" rel="noopener noreferrer">
         CV &nbsp; <fa-icon [icon]="faArrowDown" />
      </a>
   </div>
</div>
